<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devmob.minhagrade">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CourseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".ProgressActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PeriodoActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GradeActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddDiscActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ProgressActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>